form{
 // background-image: url("Group19.png");
color: black;
}

.form_name{
  background: linear-gradient(180deg, #3E464A 0%, rgba(62, 70, 74, 0) 100%);
  border-radius: 40px;
  border-style: solid;
}
legend{
  background-image: url("Group19.png");
}