.form {
  background-color: #000;
  padding-block: 2rem;
  color: rgba(#fff, 0.8);
  text-align: center;
  position: relative;

  &__heading {
    position: relative;
    font-weight: bold;
    color: rgba(#fff, 0.9);
    z-index: 1;
  }

  &__submit {
    padding: 0.5em 2em;
    border-radius: 0.3em;
    border: none;
    background-color: #111111;
    transition: background-color 0.25s ease;
    font-weight: bold;
    color: inherit;
    outline: none;
    position: relative;
    z-index: 1;
  }
  &__submit:hover, &__submit:focus {
    background-color: #171717;
  }

  &__background {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;

    &--left {
      background-image: url("/blue-saber.png");
      background-position: left;
    }

    &--right {
      background-image: url("/ren-saber.png");
      background-position: right;
    }
  }
}

.input-group {
  position: relative;
  text-align: center;
  z-index: 1;

  &__label {
    font-size: 0.8em;
  }

  &__input {
    background: none;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 0.5em;
    position: relative;
    z-index: 1;
    outline: none;
    text-align: inherit;
    font-weight: bold;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
  }
  &__input-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.6;
    background: linear-gradient(0deg, rgba(#fff, 0.13), rgba(#fff, 0));
    transition: opacity 0.25s ease;
  }
  &__input-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #b9b9b9;
    box-shadow: 0 0 0 0 #fff;
    transition: all 0.25s ease;
  }

  &__input-wrapper:has(:focus)::before {
    opacity: 1;
  }
  &__input-wrapper:has(:focus)::after {
    box-shadow: 0 0 5px 0 #fff;
    background-color: #fff;
  }
}
