
.header {
  overflow-x: hidden;
  background-image: url("/header-bg.png");
  padding-top: 80vh;
  padding-bottom: 5vh;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40vh;
    background: linear-gradient(0deg, rgba(#000, 1), rgba(#000, 0));
  }

  &__left, &__right, &__center {
    mix-blend-mode: overlay;
    user-select: none;
  }

  &__left, &__right {
    height: 70vh;
  }

  &__left {
    top: 5vh;
    left: 0;
    transform: translateX(-30%);
  }

  &__right {
    top: 5vh;
    right: 0;
    transform: translateX(30%);
  }

  &__center {
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 20vh;
    z-index: 1;
  }

  &__link-to-slide {
    position: relative;
    z-index: 1;
    background-color: #e8e8e8;
    border: none;
    font-weight: bold;
    transition: background-color 0.25s ease;

    width: 100%;
    padding-block: 1em;
    border-radius: 0.5em;

    &:hover {
      background-color: #ffffff;
    }
  }
}
