@import "swiper/css";
@import "swiper/css/pagination";

.swiper {
  width: 100%;
  height: 100vh;

  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #fff;

  .swiper-pagination-bullet {
    transition: opacity 1s ease;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    color: white;
    opacity: 0.2;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    &.swiper-button-disabled {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }

  .swiper-button-prev {
    left: 1rem;
    transform: translateY(-50%) rotate(-90deg);
  }

  .swiper-button-next {
    transform: translateY(-50%) rotate(90deg);
    right: 1rem;
  }

  .swiper-button-lock {
    display: none;
  }
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  // Shadows at the top and bottom
  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 20%;
    width: 100%;
    //mix-blend-mode: soft-light;
  }

  &::before {
    top: 0;
    background: linear-gradient(180deg, rgba(#000, 1), rgba(#000, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(0deg, rgba(#000, 1), rgba(#000, 0));
  }

  &__horizontal-shadows::before,
  &__horizontal-shadows::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 40%;
  }
  &__horizontal-shadows::before {
    left: 0;
    background: linear-gradient(90deg, rgba(#000, 1), rgba(#000, 0));
  }
  &__horizontal-shadows::after {
    right: 0;
    background: linear-gradient(-90deg, rgba(#000, 1), rgba(#000, 0));
  }

  &__background-video {

    border-radius: 1px;

    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    // https://stackoverflow.com/questions/23247523/html5-video-flashes-white-before-playing
    border-bottom: 1px solid transparent;
  }

  &__heading {
    color: rgba(#fff, 0.9);
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__paragraph {
    color: rgba(#fff, 0.9);
    font-weight: 200;
    font-size: 1.3rem;
  }

}
